~$
CAD/AcrylicParts/Dual-Extruder/~$x-carriage-mount-plate-dual.SLDPRT
CAD/AcrylicParts/dxf/11/~$10mm-assem - Copy.SLDASM
CAD/AcrylicParts/dxf/11/~$10mm-assem - Copy.SLDDRW
CAD/AcrylicParts/dxf/11/~$10mm-assem.SLDASM
CAD/AcrylicParts/dxf/11/~$10mm-assem.SLDDRW
CAD/AcrylicParts/dxf/11/~$4-5mm-1-2-assem-comb.SLDDRW
CAD/AcrylicParts/dxf/11/~$4-5mm-1-assem-comb.SLDASM
CAD/AcrylicParts/dxf/11/~$4-5mm-1-assem.SLDASM
CAD/AcrylicParts/~$frame-side-panel.SLDPRT
CAD/AcrylicParts/~$frame-top-bar.SLDPRT
CAD/AcrylicParts/~$horizontal-brace.SLDPRT
CAD/AcrylicParts/~$smoothrod-cap.SLDPRT
CAD/AcrylicParts/~$y-axis-rear.SLDPRT
CAD/AcrylicParts/~$y-endstop-holder.SLDPRT
CAD/AcrylicParts/~$y-motor-bracket.SLDPRT
CAD/AcrylicParts/~$y-support-plate.SLDPRT
CAD/AcrylicParts/~$z-motor-bracket.SLDPRT
CAD/Vitamins/~$m3x25-countersunk-screw.SLDPRT
CAD/Vitamins/~$smoothrod-x.SLDPRT
CAD/AcrylicParts/~$y-axis-front.SLDPRT
CAD/AcrylicParts/~$z-motor-brace.SLDPRT
CAD/AcrylicParts/~$z-smoothrod-cap.SLDPRT
CAD/Assemblies/~$Mirrorextruder-assembly1.SLDASM
CAD/Assemblies/~$frame-top-structure-assembled.SLDASM
CAD/Assemblies/~$lcd-test.SLDASM
CAD/Assemblies/~$main-frame-assembly.SLDASM
CAD/Assemblies/~$spool-holder-rod.SLDASM
CAD/Assemblies/~$x-carriage-acrylic-dual2.SLDASM
CAD/Assemblies/~$x-idler-assembly.SLDASM
CAD/Assemblies/~$x-idler-tensioner-assembly.SLDASM
CAD/Assemblies/~$y-bed-assembly-basic.SLDASM
CAD/PrintedParts/~$belt-screw-cap.SLDPRT
CAD/PrintedParts/~$x-idler-tensioner.SLDPRT
CAD/PrintedParts/~$x-idler.SLDPRT
CAD/PrintedParts/~$y-idler.SLDPRT
CAD/Vitamins/Nema17/~$MirrorBase.SLDPRT
CAD/Vitamins/Nema17/~$MirrorEje.SLDPRT
CAD/Vitamins/Nema17/~$MirrorTapa.SLDPRT
CAD/Vitamins/Nema17/~$Mirrorcore40mm.SLDPRT
CAD/Vitamins/printrbotExtruder/printrbot-alu-extruder/~$Mirroralu-extruder.SLDPRT
CAD/Vitamins/~$Mirrornema-17-stepper-motor-40mm.SLDASM
